

header {
  /*position: fixed;*/
  background-color: black;
  color: white;
  clear: left;
  width: 100vw;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  display: inline-block;
}

h1 {
  font-weight: lighter;
  text-align: center;
  margin: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: lighter;
  font-size: 2.5em;
}

h2 {
  color: white;
  font-weight: lighter;
  padding-left: 15px;
  padding-top: 20px;
  font-size: 2.5em;
  margin: 0 0 0 0;
}


p.header-detail {
  margin: 0 0 0 0;
  padding: 5px;
  padding-left: 15px;
  color: white;
}

body {
  background-color: #eaebed;
  font-family: Verdana;
  font-weight: lighter;
  margin: 0 0 0 0;
  width: 100vw;
}

i.arrow {
  color: white;
  font-size: 3em;
}

.icon-box {
  float: left;
}

.icon-box:hover {
  cursor: pointer;
}

.header-box {
  width: auto;
  text-align: center;
}

.head-title {
  display: inline-block;
}

.container {
  display: flex;
}

.main-column {
  padding: 10px;
  flex: 4;
  max-width: 70%;
}

.nav-column {
  flex: 1;
  padding: 10px;
  background-color: white;
  max-width: 30%;
/*<<<<<<< HEAD
  box-shadow: 6px 0px 10px -4px rgba(0, 0, 0, 0.5), -12px 0 8px -4px rgba(0, 0, 0, 0.8);
=======*/
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
}

hr {
  background-color: black;
}

.card {
  background-color: white;
  width: inherit;
  margin: 10px;
  padding: 0 0 0 0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
  border-radius: 3px;
}

.card-header {
  text-align: center;
}

.card-content {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}

.image-center-container {
  text-align: center;
  width: inherit;
  position: relative;
  padding: 5px;
}

img {
  width: inherit;
}

img.article-header {
  /*max-width: 300px;*/

  border-radius: 3px;
  max-width: 60%;
  height: auto;
  width: auto\9; /* ie8 */
  text-align: center;
  resize: both;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.1), 0 3px 3px 0 rgba(0, 0, 0, 0.1);
}

img.article-title {
  max-width: 100%;
}

img.article {
  max-width: 100%;
}

p.article-link {
  text-align: left;
}

p.article-link:hover {
  cursor: pointer;
}

.image-header-container {
  overflow: hidden;
  background-size: cover;
  background-position: center;
  /*background-image: url("../img/kaaba2.png");*/

  width: inherit;
  height: 150px;

  border-radius: 3px 3px 0 0;
}

.overlay {
  background: linear-gradient(135deg, rgba(0, 0, 0, .4), rgba(0, 0, 0, .4) );
  width: 100%;
  height: 100%;
  border-radius: 3px 3px 0 0;

}

i {
  border-style: solid;
  border-color: white;
  border-width: 3px;
  padding: 0 0 0 0;
  margin: 5px;
}

img:hover {
  cursor: pointer;
}
