header {
  background-color: #91b8f7;
  color: white;
  clear: left;
  text-align: center;
  width: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

h1 {
  font-weight: lighter;
  text-align: center;
  margin: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: lighter;
  font-size: 2.5em;
}

p.header-detail {
  margin: 0 0 0 0;
  padding: 5px;
  padding-left: 15px;
  color: white;
}

body {
  background-color: #eaebed;
  font-family: Century Gothic;
  font-weight: lighter;
  margin: 0 0 0 0;
  width: 100vw;
}

.container {
  display: flex;
}

.main-column {
  padding: 10px;
  flex: 4;
  max-width: 70%;
}

.nav-column {
  flex: 1;
  padding: 10px;
  background-color: white;
  max-width: 30%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
}

.card {
  background-color: white;
  width: inherit;
  margin: 10px;
  padding: 0 0 0 0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
  border-radius: 3px;
}

.card-header {
  text-align: center;
}

.card-content {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}

.image-center-container {
  text-align: center;
  width: inherit;
  position: relative;
  padding: 5px;
}

img {
  width: inherit;
}

img.article-header {
  /*max-width: 300px;*/

  border-radius: 3px;
  max-width: 60%;
  max-height: 200px;
  /*height: auto;*/
  width: auto\9; /* ie8 */
  text-align: center;
  resize: both;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.1), 0 3px 3px 0 rgba(0, 0, 0, 0.1);
}

img.article-title {
  max-width: 100%;
}

img.article {
  max-width: 100%;
}

p.article-link {
  text-align: left;
}

p.article-link:hover {
  cursor: pointer;
}

.image-header-container-article {
  overflow: hidden;
  background-size: cover;
  background-position: center;
  /*background-image: url("../img/kaaba2.png");*/

  width: inherit;
  height: 150px;

  border-radius: 3px 3px 0 0;
}

.overlay {
  background: linear-gradient(135deg, rgba(0, 0, 0, .4), rgba(0, 0, 0, .4) );
  width: 100%;
  height: 100%;
  border-radius: 3px 3px 0 0;
  text-align: center;
} 

img:hover {
  cursor: pointer;
}

button.flat-button.header {
  border-style: solid;
  border-color: white;
  color: white;
  background: none;
  background-color: transparent;
  margin: 20px;
  padding: 10px;
  font-size: 1em;
  border-width: 3px;
}

button.flat-button:hover {
  cursor:pointer;
}

.image-header-container {
  overflow: hidden;
  background-size: cover;
  background-position: center;
  background-image: url("../img/kaaba2.png");

  width: inherit;
  height: 200px;

  border-radius: 3px 3px 0 0;
}

.overlay-2 {
  background: linear-gradient(135deg, rgba(0, 0, 0, .5), rgba(0, 0, 0, .5) );
  width: 100%;
  height: 100%;
  border-radius: 3px 3px 0 0;
  text-align: center;
}

.line {
  background-color: white;
  width: 90%;
  margin: auto;
  height: 2px;
}
