header {
  /*position: fixed;*/
  background-color: #0c0000;
  color: white;
  clear: left;
  width: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  display: inline-block;;
}

body {
  background-color: #eaebed;
  font-family: Helvetica;
  font-weight: lighter;
  margin: 0 0 0 0;
}

h1 {
  text-align: center;
  margin: 0 0 0 0;
  padding-top: 10px;
  padding-bottom: 20px;
  font-weight: lighter;
  font-size: 3em;
  display: inline-block;
}

i.arrow {
  color: white;
  font-size: 3em;
  padding: 10px;
}

.icon-box {
  float: left;
}

.icon-box:hover {
  cursor: pointer;
}

.header-box {
  width: auto;
  text-align: center;
}

.card {
  background-color: white;
  width: inherit;
  margin: 25px;
  padding: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 3px;
}


.card-content {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}

.container {
  display: flex;
}

.column {
  flex: 1;
  padding: 10px;
}

p.title {
  text-align: center;
  font-size: 1.5em;
}

article {
  text-align: justify;
}

.image-center-container {
  text-align: center;
  width: inherit;
}

img {
  width: inherit;

  max-width: 100%;
    height: auto;
}

.poem-container {
  text-align: center;
}
